
/* Css de la página de pie de página */




/* Tamaño del div donde esta la definición */

.div-pie-pagina-definición {
	width: 800px;
}


/* Margen de arriba del div principal */

.div-titulo {
	margin-top: 50px;
}





/* Color de la descarga que tienen un enlace */

.color-descarga{
	background-color: #76BE7A;
	width: 250px; 
	height: 80px;
	border-radius: 5px;
}


/* Cuando pasar el ratón por la descarga que tienen un enlace */

.color-descarga:hover {
	background-color: #2DC235;
	border-radius: 5px;
}

/* letra de color blanco y poner centrado verticalmente y horizontalmente */
.letra-descargar {
	margin-top: -8px;
	color: white;
	height: 80px;	
	border-radius: 5px;
	display:flex;
	justify-content: center;
	align-items: center;	
}


/* letra de color blanco y poner centrado verticalmente y horizontalmente, cuando pasas el raton por encima */

.letra-descargar:hover {
	margin-top: -8px;
	color: white;
	border-radius: 5px;
	display:flex;
	justify-content: center;
	align-items: center;
}
	
/* Espacio vertical entre los contenedores principales, espacio horizontal del mismo tamaño */
	
.espacio-div {
	height: 150px;
}


/* .explicación { */
				/* min-height: calc(100% - 500px); */
			/* } */